/*********************
GENERAL STYLES
*********************/

body {
  font-family: $sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $text-color;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  position: relative;
  overflow-x: hidden;
}

/*
* SCROLL UP BUTTON
*/

.scroll-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  background-color: #f5f5f5;
  background-image: none;
  text-align: center;
  visibility: hidden;
  padding-top: 4px;
  padding-left: 1px;
  opacity: 0;
  transition: background-color 0.2s linear, color 0.2s linear;
  z-index: 5000;
  font-size: 0.8em;

  @include breakpoint(1000px) {
    right: 40px;
    bottom: 40px;
  }

  &.magic-appear {
    visibility: visible;
    opacity: 1;
  }
  .fa {
    color: $black;
    transition: color 0.2s linear;
  }
  &:hover, &:focus {
    background-color: $f-red;
    .fa {
      color: $white;
    }
  }
}