/*********************
HEADER STYLES
*********************/

.header {
  background-color: $black;

  nav {
  	a {
  		color:$light-gray;
  	}
  }
}

#logo {
    padding: 0 10px;
    background: #eee;
    border-top: 3px solid $f-red;
    margin: 0;
    transition: 0.7s ease;
    text-align: center;

    svg {
      max-width: 200px !important;
    }

    &:hover {
      border-top-color:$gold;
    }
  }
