/*********************
HEADER STYLES
*********************/

.header {
  background-color: $black;

  nav {
  	a {
  		color:$light-gray;
  	}
  }
}

#logo {
    padding: 30px;
    background: #eee;
    border-top: 3px solid $f-red;
    margin: 0;
    transition: 0.7s ease;
    text-align: center;

    .h2 {
      border: none;
    }

    a {
      color: $black;
    }

    &:hover {
      border-top-color:$gold;
    }
  }
