/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;
  text-decoration: none;
  outline:none;
  transition: color 0.2s ease-in-out;

  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
    outline:none;
  }

  /* on click */
  &:active {
    outline:none;

  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

a.button {
  background: #eee;
  color: $black;
  padding: 10px 20px;
  font-family: $sans-serif;
  font-size: 1em;
  transition: all 0.4s ease;

  &:hover {
    background: $f-red;
    color: $white;
  }
}