/*********************
NAVIGATION STYLES
*********************/

.header-nav {

  @include breakpoint($breakpoint-mobile) {
    display:none;
  }

  body.active-mobile &{
    top: 0;
    left: 0;
    display:block;
  }

}


.header nav {
  border-bottom: 0;
  margin: 0;

  li {
     list-style-type:none;
      font-family:$serif;
      font-size: 1em;

    a {
      display:block;
      color: $white;
      text-decoration: none;
      padding:0.4em 1.5em;
      transition:0.1s ease;
      outline:none;

      &:hover, &:focus {
        color:$white;
        background:#777;
      }
      &:active {
        background:$gold;
      }
    }


    ul.sub-menu,
    ul.children {
      display: none;

      li {

        a {
          display: block;
          padding-left: 50px;
          padding-bottom: 10px;
          color: #ccc;
          font-size: 0.9em;
          line-height: 1.1;


          &:hover,
          &:focus {}

          &:link {}

        }

        &.active {
          a {
            color:red !important;
          }
        }

        &:first-child {}

        &:last-child {

        }

      }

    }

  } /* end .menu li */

  /* highlight current page */
  li.current-menu-item {
  }
  
  li.current_page_item {
    a {
      background:$white;
      color:$black;
    }
    ul li a {
      color:$black;
      background:#ccc;
      border:none;
        &:hover {
          color:$white;
          background:#888;
        }
    }
    ul li.current a{
      color:$white;
      background:#888;
    } 
  }

  li.current_page_ancestor {
  }  /* end current highlighters */

} /* end .nav */


/* mobile nav */
.show-nav {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 74px;
  right: 15px;
  text-align: center;
  line-height: 35px;
  font-size: 35px;
  box-sizing: content-box;
  cursor: pointer;
  transition: .2s ease-in-out;
  
  &:hover {
    color: $f-red;
  }

  .active-mobile &{
    transform: rotate(90deg);  
    margin-top: -5px;
  }
  
  @include breakpoint($breakpoint-desktop) {
    display: none;
    visibility: hidden;
    right: -99999px;
  }
}