/*********************
VCU BAR
*********************/

.vcuarts-branding-bar {
  background: $black;
  border-bottom: 3px solid $f-red;
  position: fixed;
  left: 0;
  width: 100%;
  display: block;

  a, a:active, a:visited {
    border: none;
    outline: none;
  }

  .inner-vcubar {
  }
}
.vcuarts-branding-bar a.vcuarts-bar .arts-color {
  fill: $white;
}